body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

    display: grid;
    place-items: center;

    background-color: hsl(229, 73%, 25%);    
}

.cake {
    height: 50%;
    cursor: pointer;
}

.fire {
    fill: transparent;
    transition: .7s ease-in-out .3s;

    animation: fire 1s ease-in-out .1s infinite;
}

.fire.active {
   fill: #FFB819;
}


